<div id="top">

	<div id="imgFondo"></div>

	<!--=====================================
	HEADER Y NAV
	======================================-->	

	<header class="container-fluid bg-light shadow pb-2" id="inicio">

		<nav class="navbar navbar-expand-lg navbar-light bg-light container">

			<a class="navbar-brand text-center" href="#">
				
				<img src="assets/img/logotipo.png" style="width:150px;">

			</a>

			<button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav ml-auto bg-light">

					<li class="nav-item">

						<a class="nav-link d-none d-lg-block" href="#top">Inicio</a>

					</li>

					<li class="nav-item">
						<a class="nav-link" href="#galeria">Galería</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#mouse">Mouse</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#articulos">Artículos</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#formulario">Formulario</a>
					</li>				

				</ul>

			</div>
		</nav>

	</header>

	<!--=====================================
	SLIDESHOW
	======================================-->	

	<div class="container-fluid p-0 bg-white">
		
		<section class="jd-slider slideshow">

			<div class="slide-inner">

				<ul class="slide-area">
					<li>
						<div class="slide-text d-none d-lg-block">
							<h3>Lorem ipsum.</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						</div>
						<img src="assets/img/slide/slide01.jpg">
					</li>
					<li>
						<div class="slide-text d-none d-lg-block">
							<h3>Lorem ipsum.</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						</div>
						<img src="assets/img/slide/slide02.jpg">
					</li>
					<li>
						<div class="slide-text d-none d-lg-block">
							<h3>Lorem ipsum.</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						</div>
						<img src="assets/img/slide/slide03.jpg">
					</li>
					<li>
						<div class="slide-text d-none d-lg-block">
							<h3>Lorem ipsum.</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						</div>
						<img src="assets/img/slide/slide04.jpg">
					</li>
				</ul>
			</div>

			<a class="prev" href="#">
				<i class="fas fa-angle-left fa-2x text-white pl-3"></i>
			</a>
			<a class="next" href="#">
				<i class="fas fa-angle-right fa-2x text-white pr-3"></i>
			</a>

			<div class="controller">

				<a href="#" class="auto d-none">
					
					<i class="fas fa-play fa-xs"></i>
					<i class="fas fa-pause fa-xs"></i>

				</a>

				<div class="indicate-area d-none d-lg-block"></div>
			</div>

		</section>

	</div>

	<!--=====================================
	GALERÍA
	======================================-->	

	<div class="container-fluid p-0 bg-white" id="galeria">

		<h2 class="text-uppercase py-3 text-muted text-center">Galería de imágenes</h2>
		
		<section class="pinterest_grid">

			<article class="white-panel"> 

				<a href="assets/img/galeria/01.jpg" data-toggle="lightbox" data-gallery="example-gallery">
					<img src="assets/img/galeria/01.jpg">
				</a>

			</article>

			<article class="white-panel"> 

				<a href="assets/img/galeria/02.jpg" data-toggle="lightbox" data-gallery="example-gallery">
					<img src="assets/img/galeria/02.jpg">
				</a>

			</article>

			<article class="white-panel"> 

				<a href="assets/img/galeria/03.jpg" data-toggle="lightbox" data-gallery="example-gallery">
					<img src="assets/img/galeria/03.jpg">
				</a>

			</article>

			<article class="white-panel"> 

				<a href="assets/img/galeria/04.jpg" data-toggle="lightbox" data-gallery="example-gallery">
					<img src="assets/img/galeria/04.jpg">
				</a>

			</article>

			<article class="white-panel"> 

				<a href="assets/img/galeria/05.jpg" data-toggle="lightbox" data-gallery="example-gallery">
					<img src="assets/img/galeria/05.jpg">
				</a>

			</article>

			<article class="white-panel"> 

				<a href="assets/img/galeria/06.jpg" data-toggle="lightbox" data-gallery="example-gallery">
					<img src="assets/img/galeria/06.jpg">
				</a>

			</article>

			<article class="white-panel"> 

				<a href="assets/img/galeria/01.jpg" data-toggle="lightbox" data-gallery="example-gallery">
					<img src="assets/img/galeria/01.jpg">
				</a>

			</article>

			<article class="white-panel"> 

				<a href="assets/img/galeria/02.jpg" data-toggle="lightbox" data-gallery="example-gallery">
					<img src="assets/img/galeria/02.jpg">
				</a>

			</article>

			<article class="white-panel"> 

				<a href="assets/img/galeria/03.jpg" data-toggle="lightbox" data-gallery="example-gallery">
					<img src="assets/img/galeria/03.jpg">
				</a>

			</article>

			<article class="white-panel"> 

				<a href="assets/img/galeria/04.jpg" data-toggle="lightbox" data-gallery="example-gallery">
					<img src="assets/img/galeria/04.jpg">
				</a>

			</article>

			<article class="white-panel"> 

				<a href="assets/img/galeria/05.jpg" data-toggle="lightbox" data-gallery="example-gallery">
					<img src="assets/img/galeria/05.jpg">
				</a>

			</article>

			<article class="white-panel"> 

				<a href="assets/img/galeria/06.jpg" data-toggle="lightbox" data-gallery="example-gallery">
					<img src="assets/img/galeria/06.jpg">
				</a>

			</article>


		</section>

	</div>

	<!--=====================================
	MOUSE PARALLAX EFFECT
	======================================-->

	<div class="container-fluid p-0 bg-white" id="mouse">
		
		<h2 class="text-uppercase py-3 text-muted text-center">Movimiento con el Mouse</h2>

		<figure class="m-0 mouseParallax" style="position:relative; overflow: hidden">
			
			<img src="assets/img/mouse/plano02.png">

			<figure class="mouseParallax" style="position:absolute; top:0; left:0">

				<img src="assets/img/mouse/plano01.png">

			</figure>

			<figure class="mouseParallax" style="position:absolute; top:0; left:0">

				<img src="assets/img/mouse/plano00.png">
				
			</figure>

		</figure>

	</div>

	<!--=====================================
	ARTÍCULOS
	======================================-->

	<div class="container-fluid p-0" id="articulos">
		
		<h2 class="text-uppercase py-5 text-muted text-center bg-white">Artículos</h2>

		<div class="container my-5">

			<!-- Articulo 1 -->
			
			<div class="row border my-3 bg-white">
				
				<figure class="col-md-5 col-lg-4 col-xl-3 p-2 mb-0">
					
					<img src="assets/img/articulos/portada01.jpg" class="img-fluid">

				</figure>

				<div class="col-md-7 col-lg-8 col-xl-9 p-4">
					
					<h2>Lorem Ipsum</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae accusamus voluptatum omnis non facere itaque aliquam temporibus, nisi pariatur facilis similique possimus eaque iure doloribus natus animi eos, suscipit eum!</p>

					<button class="btn btn-dark btn-sm float-right">Leer más</button>

				</div>

			</div>

			<!-- Articulo 2 -->
			
			<div class="row border my-3 bg-white">
				
				<figure class="col-md-5 col-lg-4 col-xl-3 p-2 mb-0">
					
					<img src="assets/img/articulos/portada02.jpg" class="img-fluid">

				</figure>

				<div class="col-md-7 col-lg-8 col-xl-9 p-4">
					
					<h2>Lorem Ipsum</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae accusamus voluptatum omnis non facere itaque aliquam temporibus, nisi pariatur facilis similique possimus eaque iure doloribus natus animi eos, suscipit eum!</p>

					<button class="btn btn-dark btn-sm float-right">Leer más</button>

				</div>

			</div>

			<!-- Articulo 3 -->
			
			<div class="row border my-3 bg-white">
				
				<figure class="col-md-5 col-lg-4 col-xl-3 p-2 mb-0">
					
					<img src="assets/img/articulos/portada03.jpg" class="img-fluid">

				</figure>

				<div class="col-md-7 col-lg-8 col-xl-9 p-4">
					
					<h2>Lorem Ipsum</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae accusamus voluptatum omnis non facere itaque aliquam temporibus, nisi pariatur facilis similique possimus eaque iure doloribus natus animi eos, suscipit eum!</p>

					<button class="btn btn-dark btn-sm float-right">Leer más</button>

				</div>

			</div>

			<!-- Articulo 4 -->
			
			<div class="row border my-3 bg-white">
				
				<figure class="col-md-5 col-lg-4 col-xl-3 p-2 mb-0">
					
					<img src="assets/img/articulos/portada04.jpg" class="img-fluid">

				</figure>

				<div class="col-md-7 col-lg-8 col-xl-9 p-4">
					
					<h2>Lorem Ipsum</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae accusamus voluptatum omnis non facere itaque aliquam temporibus, nisi pariatur facilis similique possimus eaque iure doloribus natus animi eos, suscipit eum!</p>

					<button class="btn btn-dark btn-sm float-right">Leer más</button>

				</div>

			</div>

		</div>

	</div>

	<!--=====================================
	FORMULARIO
	======================================-->

	<div class="container-fluid p-0 bg-white" id="formulario">
		
		<h2 class="text-uppercase pt-5 text-muted text-center">Validación de formulario</h2>

		<div class="container">
			
			<form action="/formulario.php" class="bg-light p-4 needs-validation" novalidate>
				
				<h4 class="bg-dark text-white text-center p-2">Ingrese los datos</h4>
				
				<div class="form-group">
					
					<label for="usuario">Ingrese su usuario</label>

					<input type="text" id="usuario" class="form-control" placeholder="Escriba su usuario con mínimo 2 caracteres, máximo 6 caracteres sin usar números" minlength="2" maxlength="6" pattern="(?=.*[A-Za-z]).{2,6}" required>

				  	<div class="valid-feedback">Valid.</div>
    				<div class="invalid-feedback">Please fill out this field.</div>

				</div>

				<div class="form-group">
					
					<label for="password">Ingrese su contraseña</label>

					<input type="password" id="password" class="form-control" placeholder="Escriba su contraseña con mínimo 8 caracteres y debe incluir letras en mayúscula, en minúscula y números" minlength="8"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>

					<div class="valid-feedback">Valid.</div>
    				<div class="invalid-feedback">Please fill out this field.</div>

				</div>

				<div class="form-group">

					<label for="email">Ingrese su correo electrónico:</label>

					<input type="email" id="email" class="form-control"  placeholder="Escriba su correo" name="email" required>

					<div class="valid-feedback">Valid.</div>
    				<div class="invalid-feedback">Please fill out this field.</div>

				</div>

				<div class="form-group">				
					<label for="color">Elija su color:</label>
					<select class="form-control" id="color" name="color" required>
						<option value="">Seleccione</option>
						<option value="amarillo">Amarillo</option>
						<option value="azul">Azul</option>
						<option value="rojo">Rojo</option>
					</select>
					<div class="valid-feedback">Valid.</div>
    				<div class="invalid-feedback">Please fill out this field.</div>
				</div>


				<div class="form-group">

					<label>Seleccione animal:</label>

					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input icheck" name="perro"> Perro
						</label>
					</div>

					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input icheck" name="gato"> Gato
						</label>
					</div>

					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input icheck" name="conejo"> Conejo
						</label>
					</div>

				</div>

				<div class="form-group">

					<label>Seleccione forma de pago:</label>

					<div class="form-check">
						<label class="form-check-label">
						<input type="radio" class="form-check-input icheck" name="pago" checked required> Efectivo
						</label>
					</div>

					<div class="form-check">
						<label class="form-check-label">
						<input type="radio" class="form-check-input icheck" name="pago" required> Crédito
						</label>
					</div>

				</div>

				<div class="form-group">
			  		<label for="mensajes">Mensaje:</label>
			  		<textarea class="form-control" rows="5" id="mensajes" required></textarea>
			  		<div class="valid-feedback">Valid.</div>
    				<div class="invalid-feedback">Please fill out this field.</div>
			  	</div>

			  	<div class="form-group form-check">
					<label class="form-check-label">
						<input class="form-check-input terminos" type="checkbox" required>
							<span class="check"></span>Acepto términos y condiciones.
						<div class="valid-feedback">Valid.</div>
    					<div class="invalid-feedback">Please fill out this field.</div>
					</label>
				</div>

				<button type="submit" class="btn btn-primary btn-block">Enviar</button>

			</form>

		</div>

	</div>


	

<script src="js/script.js"></script>
</div>