<!--=====================================
	GALERÍA
	======================================-->

<div class="container-fluid p-0 bg-white" id="galeria">
  <h2 class="text-uppercase py-3 text-muted text-center">
    Galería de imágenes
  </h2>

  <section class="pinterest_grid">
    <article class="white-panel" *ngFor="let foto of images; let ultimoIndice = last"> 

      <a href="{{foto.foto}}" data-toggle="lightbox" data-gallery="example-gallery">
        <img src="{{foto.foto}}">
      </a>

      {{ ultimoIndice ? callback() : ""}}

    </article>
  </section>
</div>
