<!--=====================================
	ARTÍCULOS
	======================================-->

<div class="container-fluid p-0" id="articulos">
  <h2 class="text-uppercase py-5 text-muted text-center bg-white">
    Artículos
  </h2>

  <div class="container my-5">
    <!-- Articulo 1 -->

    <div class="row border my-3 bg-white">
      <figure class="col-md-5 col-lg-4 col-xl-3 p-2 mb-0">
        <img src="assets/img/articulos/portada01.jpg" class="img-fluid" />
      </figure>

      <div class="col-md-7 col-lg-8 col-xl-9 p-4">
        <h2>Lorem Ipsum</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae
          accusamus voluptatum omnis non facere itaque aliquam temporibus, nisi
          pariatur facilis similique possimus eaque iure doloribus natus animi
          eos, suscipit eum!
        </p>

        <button class="btn btn-dark btn-sm float-right">Leer más</button>
      </div>
    </div>

    <!-- Articulo 2 -->

    <div class="row border my-3 bg-white">
      <figure class="col-md-5 col-lg-4 col-xl-3 p-2 mb-0">
        <img src="assets/img/articulos/portada02.jpg" class="img-fluid" />
      </figure>

      <div class="col-md-7 col-lg-8 col-xl-9 p-4">
        <h2>Lorem Ipsum</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae
          accusamus voluptatum omnis non facere itaque aliquam temporibus, nisi
          pariatur facilis similique possimus eaque iure doloribus natus animi
          eos, suscipit eum!
        </p>

        <button class="btn btn-dark btn-sm float-right">Leer más</button>
      </div>
    </div>

    <!-- Articulo 3 -->

    <div class="row border my-3 bg-white">
      <figure class="col-md-5 col-lg-4 col-xl-3 p-2 mb-0">
        <img src="assets/img/articulos/portada03.jpg" class="img-fluid" />
      </figure>

      <div class="col-md-7 col-lg-8 col-xl-9 p-4">
        <h2>Lorem Ipsum</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae
          accusamus voluptatum omnis non facere itaque aliquam temporibus, nisi
          pariatur facilis similique possimus eaque iure doloribus natus animi
          eos, suscipit eum!
        </p>

        <button class="btn btn-dark btn-sm float-right">Leer más</button>
      </div>
    </div>

    <!-- Articulo 4 -->

    <div class="row border my-3 bg-white">
      <figure class="col-md-5 col-lg-4 col-xl-3 p-2 mb-0">
        <img src="assets/img/articulos/portada04.jpg" class="img-fluid" />
      </figure>

      <div class="col-md-7 col-lg-8 col-xl-9 p-4">
        <h2>Lorem Ipsum</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae
          accusamus voluptatum omnis non facere itaque aliquam temporibus, nisi
          pariatur facilis similique possimus eaque iure doloribus natus animi
          eos, suscipit eum!
        </p>

        <button class="btn btn-dark btn-sm float-right">Leer más</button>
      </div>
    </div>
  </div>
</div>
