<!--=====================================
	ARTÍCULOS
	======================================-->

<div class="container-fluid p-0" id="articulos">
  <h2 class="text-uppercase py-5 text-muted text-center bg-white">
    Artículos
  </h2>

  <div class="container my-5">
   
    <div class="row border my-3 bg-white" *ngFor="let articulo of articulos">
        
      <figure class="col-md-5 col-lg-4 col-xl-3 p-2 mb-0">
        
        <img src="{{url}}/articulo/{{articulo.url}}/{{articulo.portada}}" class="img-fluid">

      </figure>

      <div class="col-md-7 col-lg-8 col-xl-9 p-4">
        
        <h2>{{articulo.titulo}}</h2>

        <p>{{articulo.intro}}</p>

        <button class="btn btn-dark btn-sm float-right" routerLink="articulo/{{articulo.url}}">Leer más</button>

      </div>

    </div>
    
  </div>
</div>
