<!--=====================================
Formulario de ingreso
======================================-->

<div class="signin text-center" *ngIf="!login">

	<form class="form-signin was-validated" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>

		<h3 class="mb-3 font-weight-normal">Login</h3>

		<div class="form-group">
			
			<input type="text" class="form-control mt-3" placeholder="Usuario" name="usuarioLogin" [(ngModel)]="usuario" pattern="(?=.*[A-Za-z]).{2,10}" #usuarioLogin="ngModel" required>

			<div *ngIf="!usuarioLogin.valid && usuarioLogin.touched" class="invalid-feedback">Error en el campo de usuario</div>

			<div *ngIf="usuarioLogin.errors?.required && usuarioLogin.touched" class="invalid-feedback">Este campo es obligatorio</div>

		</div>

		<div class="form-group">
			
			<input type="password" class="form-control mt-3" placeholder="Contraseña" name="passwordLogin" [(ngModel)]="password" #passwordLogin="ngModel" required>
			<div *ngIf="passwordLogin.errors?.required && passwordLogin.touched" class="invalid-feedback">Este campo es obligatorio</div>

		</div>

		<div *ngIf="!validarLogin" class="alert alert-danger">Usuario o contraseña no válidos</div>

		<button [disabled]="!f.valid" class="btn btn-lg btn-primary btn-block mt-3">Ingresar</button>		

	</form>

</div>
<article *ngIf="login">

	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-4">Fluid jumbotron</h1>
	    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>

	    <button class="btn btn-primary" routerLink="/">Regresar</button>
	  </div>
	</div>	


	<div class="container">
		<h2>{{currentAticulo.titulo}}</h2>
		<img src="{{url}}/articulo/{{currentAticulo.url}}/{{currentAticulo.portada}}" class="py-3 img-fluid">
		<div [innerHTML]="contenidoArticulo"></div>

	</div>

</article>